<div id="product">
  <div class="images">
    <img src="{{ product.thumbnail }}" alt="" />
    <div class="images-carousel">
      @for(image of product.images ; track image){
      <img class="img-principal" src="{{ image }}" alt="" />
      }
    </div>
  </div>
  <div class="info">
    <h4>
      {{ product.title }}
    </h4>
    <h5>{{ product.brand }}</h5>
    <p>{{ product.price }} €</p>
    <p>
      Rating <span>{{ product.rating }}</span>
    </p>
    <p>
      Stock <span>{{ product.stock }}</span> ud's
    </p>
    <div class="tags">
      @for(tag of product.tags ; track tag){
      <small>
        {{ tag }}
      </small>
      }
    </div>
  </div>
</div>
