<nav>
  <ul>
    <li class="logo">
      <img src="./assets/brand-appgallery.svg" alt="" /><a href="/">Inicio</a>
    </li>

    <div class="categories" (click)="openNav()">
      <a>Categorias</a>
      <!-- <hr /> -->
      <div class="content hidden">
        @for(category of categories ; track category.slug){
        <li
          class="categories-content"
          (click)="navigateToCategory(category.slug)"
        >
          <a>
            {{ category.name }}
          </a>
        </li>
        }
      </div>
    </div>
    <li class="cart"><img src="./assets/shopping-cart.svg" alt="" /></li>
  </ul>
</nav>
