* {
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding: 0;
}

a {
  cursor: pointer;
  user-select: none;
}

nav {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  /*   position: fixed;
  left: 15rem; */
}

.logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  font-weight: 600;
  /*  gap: 5rem; */
  justify-content: space-between;
  position: relative;
}

a {
  color: var(--accent);
}

hr {
  border: 1px solid var(--primary);
  margin-top: 5px;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
  margin: 0 auto;
}

@keyframes buttonRotation {
  0% {
    transform: rotate(0deg);
    width: 100%;
    opacity: 1;
  }
  50% {
    transform: rotate(90deg);
    width: 5px;
    opacity: 0;
  }
  100% {
    transform: rotate(180deg);
    width: 100%;
    opacity: 1;
  }
}

.categories a {
  padding: 0.5rem;
  padding-inline: 1rem;
  border-radius: 5px;
  /* border-bottom: 2px solid var(--primary); */
  transition: all 0.3s ease-in-out;
}

.categories a:hover {
  /* border: 2px solid var(--primary); */
  box-shadow: 2px 2px 0 var(--primary);
  /*   animation: buttonRotation 0.5s ease-in-out; */
}

.categories a:active {
  /* border: 2px solid var(--primary); */
  box-shadow: 2px 2px 0 var(--primary) inset;
  /*   animation: buttonRotation 0.5s ease-in-out; */
}

.categories {
  position: absolute;
  justify-self: center;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  position: absolute;
  background-color: white;
  padding: 3rem;
  gap: 1.5rem;
  column-gap: 3rem;
  transform: translate(-50%, -50%);
  top: 11.5rem;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 1266px;
}

.content li {
  transition: transform 0.3s ease-in-out;
}

.content li:hover {
  transform: translateX(0.7rem);
}

.content li:hover a {
  color: var(--accent);
}

.content li a {
  text-wrap: nowrap;
  font-weight: 400;
  color: var(--primary);
}

.hidden {
  display: none;
}

.cart {
  cursor: pointer;
}
