<main>
  <section id="categories">
    @for(category of categories; track category.slug){
    <div class="category" (click)="navigateToCategory(category.slug)">
      <p>{{ category.name }}</p>
    </div>
    }
  </section>

  <section id="products">
    <h1>Todos los productos</h1>
    <div class="products">
      @for(product of products ; track product.id){
      <div class="product">
        <h4>{{ product.title }}</h4>
        <img src="{{ product.thumbnail }}" alt="{{ product.title }}" />
        <p>
          Rating <span class="rating">{{ product.rating }}</span>
        </p>
        <h5>{{ product.price }} €</h5>
        <button (click)="navigateToProduct(product.id)">
          Ver detalles de producto
        </button>
      </div>
      }
    </div>
    <button class="more-products" (click)="showMore()">Ver mas</button>
  </section>
</main>
