nav,ul{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  gap: .5rem;
}

hr{
  border: 1px solid var(--bg);
}

ul{
  padding: 0;
}

ul li:last-child{
  font-weight: 700;
}
